/GCS.app/
/tools/
/gcs
/gcs.exe
/rsrc_windows_amd64.syso
/*.dmg
/*.zip
/*.tgz
/language.i18n
/go.work
/go.work.sum
/release_notes.md
/__debug_bin*
/todo.md
/*.prof
/test.exe
/ai-debug-skills.txt
/ai-debug-system-prompt.txt
/ai-model/*
ai_model/Modelfile
ai_model/llama-3.1-8b.Q4_K_M.gguf
ai_model/mistrained/llama-3.1-8b.Q4_K_M.gguf
ai_model/mistrained/Modelfile
ai_model/mistrained/README.md
ai_model/meta-llama-3.1-8b-instruct.Q4_K_M.gguf
ai_model/Modelfile_gemini
.gitignore
ai_model/Modelfile_generated
